<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-libraryx"
  version="0.0.1">

    <name>LibraryX</name>
    <author>Rameez Raja</author>
    <description>Get Camera Roll with gps info</description>
    <license>MIT</license>

    <js-module src="www/library-x.js" name="gps">
        <clobbers target="cordova.plugins.libraryX" />
    </js-module>

   <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="LibraryX">
              <param name="ios-package" value="LibraryX"/>
          </feature>
      </config-file>

      <header-file src="src/ios/LibraryX.h" />
      <source-file src="src/ios/LibraryX.m" />

      <!--<framework src="CoreLocation.framework" weak="true" />-->
    </platform>
</plugin>
